#!/bin/sh

TS=$(date +%s)
TMPDIR=$(mktemp -d)
BACKUP=${TMPDIR}/mastodon_backup_${TS}.sql

pg_dump > ${BACKUP}
zstd -9 ${BACKUP}
s3cmd --file {{ s3cfg }} put ${BACKUP}.zst s3://{{ backup_s3_bucket }}
rm -rf ${TMPDIR}
