server {
	listen 80 default;
	listen [::]:80 default;
	server_name _;
	return 444;
}

server {
	listen 443 ssl default;
	listen [::]:443 ssl default;
	server_name _;

	ssl_certificate /etc/letsencrypt/live/{{ mastodon_domain }}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{ mastodon_domain }}/privkey.pem;

	return 444;
}
