---
- hosts: mastodon
  vars:
    # Where you'd like to install Mastodon. If you change this, update
    # docker-mastodon.service.
    mastodon_private: /var/lib/mastodon
    # Where you'd like to put the public Mastodon files. NOT THE SAME
    # AS mastodon_private!!! If you change this, update the Nginx
    # config files' "root" value to point to your new location.
    mastodon_public: /var/www/mastodon
    # This could be your own fork or repo
    mastodon_repo: https://github.com/tootsuite/mastodon.git
    # The version to install
    mastodon_version: v1.1.1
    # Your site's domain name
    mastodon_domain: example.taco
    
  tasks:
    - name: Install required packages
      apt:
        name: "{{ item }}"
        state: present
      with_items:
        - docker.io
        - make
        - nginx
        - postgresql-9.5
        - redis-server

    - name: Add certbot repo
      apt_repository:
        repo: ppa:certbot/certbot

    - name: Install certbot
      apt:
        name: certbot
        state: present
        update_cache: yes

    - name: Install newer docker-compose than is in the Ubuntu repo
      get_url:
        url: https://github.com/docker/compose/releases/download/1.11.2/docker-compose-Linux-x86_64
        dest: /usr/local/bin/docker-compose
        mode: 0755

    - name: Make the Mastodon directory
      file:
        path: "{{ mastodon_private }}"
        state: directory
        owner: "{{ mastodon_user }}"
        group: "{{ mastodon_user }}"

    - name: Clone the git repo
      become: true
      become_user: "{{ mastodon_user }}"
      git:
        dest: "{{ mastodon_private }}"
        repo: "{{ mastodon_repo }}"
        version: "{{ mastodon_version }}"

    - name: Make the assets directory
      file:
        path: "{{ mastodon_public }}/assets"
        state: directory
        
    - name: Make the system directory
      file:
        path: "{{ mastodon_public }}/system"
        state: directory

    - name: Build Mastodon
      shell: docker-compose build
      args:
        chdir: "{{ mastodon_private }}"

    - name: Copy /etc files
      copy:
        src: files/etc/
        dest: /etc/

    - name: Check if Mastodon is configured
      stat:
        path: "{{ mastodon_private }}/.env.production"
      register: prod_config

    - name: Run DB migrations
      when: prod_config.stat.exists
      shell: docker-compose run --rm web rails db:migrate
      args:
        path: "{{ mastodon_private }}"
      
    - name: Compile assets
      when: prod_config.stat.exists
      shell: docker-compose run --rm web rails assets:precompile
      args:
        path: "{{ mastodon_private }}"
      
    - name: Start the Mastodon service
      when: prod_config.stat.exists
      systemd:
        name: docker-mastodon
        state: started
        enabled: yes

    - name: "Install the minimal Nginx config to bootstrap Let's Encrypt"
      file:
        src: /etc/nginx/sites-available/mastodon.conf-80only
        dest: /etc/nginx/sites-available/mastodon.conf
        force: yes
        state: link

    - name: Reload the Nginx service
      systemd:
        name: nginx
        state: reloaded

    - name: "Generate Let's Encrypt certificate"
      shell: certbot certonly --webroot -d {{ mastodon_domain }} -w {{ mastodon_public }}

    - name: Install the full Nginx config
      file:
        src: /etc/nginx/sites-available/mastodon.conf-80_and_443
        dest: /etc/nginx/sites-available/mastodon.conf
        force: yes
        state: link

    - name: Reload the Nginx service
      systemd:
        name: nginx
        state: reloaded
